# EDA Notebook

In [1]:
import retriving_reviews
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Importing as the Yelp DataSets

In [2]:
data_reviews = retriving_reviews.load_pickle('/Users/gmgtex/Desktop/Galvanize/Immersive/capstone/pkl_data/yelp_reviews.pkl')
data_business = retriving_reviews.load_pickle('/Users/gmgtex/Desktop/Galvanize/Immersive/capstone/pkl_data/yelp_business.pkl')
# data_tips = retriving_reviews.load_pickle('/Users/gmgtex/Desktop/Galvanize/Immersive/capstone/pkl_data/yelp_tips.pkl')
# data_user = retriving_reviews.load_pickle('/Users/gmgtex/Desktop/Galvanize/Immersive/capstone/pkl_data/yelp_user.pkl')
# data_checkin = retriving_reviews.load_pickle('/Users/gmgtex/Desktop/Galvanize/Immersive/capstone/pkl_data/yelp_checkin.pkl')

## REVIEW DATASET

In [3]:
print(data_reviews.describe())
print(data_reviews.info())
data_reviews.head()

               cool         funny         stars        useful
count  4.736897e+06  4.736897e+06  4.736897e+06  4.736897e+06
mean   5.096600e-01  4.029171e-01  3.724048e+00  9.882921e-01
std    1.960374e+00  1.721954e+00  1.421104e+00  2.600021e+00
min    0.000000e+00  0.000000e+00  1.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  3.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  4.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  5.000000e+00  1.000000e+00
max    5.130000e+02  6.310000e+02  5.000000e+00  1.125000e+03
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4736897 entries, 0 to 4736896
Data columns (total 9 columns):
business_id    object
cool           int64
date           datetime64[ns]
funny          int64
review_id      object
stars          int64
text           object
useful         int64
user_id        object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 361.4+ MB
None

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,uYHaNptLzDLoV_JZ_MuzUA,0,2016-07-12,0,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,0,cjpdDjZyprfyDG3RlkVG3w
1,uYHaNptLzDLoV_JZ_MuzUA,0,2016-10-02,0,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,0,bjTcT8Ty4cJZhEOEo01FGA
2,uYHaNptLzDLoV_JZ_MuzUA,0,2015-09-17,0,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,AXgRULmWcME7J6Ix3I--ww
3,uYHaNptLzDLoV_JZ_MuzUA,0,2016-08-21,0,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,0,oU2SSOmsp_A8JYI7Z2JJ5w
4,uYHaNptLzDLoV_JZ_MuzUA,0,2013-11-20,0,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0,0xtbPEna2Kei11vsU-U2Mw

In [4]:
text = data_reviews.text #these are the reviews that I will be processing
text.head()

0    My girlfriend and I stayed here for 3 nights a...
1    If you need an inexpensive place to stay for a...
2    Mittlerweile gibt es in Edinburgh zwei Ableger...
3    Location is everything and this hotel has it! ...
4    gute lage im stadtzentrum. shoppingmeile und s...
Name: text, dtype: object

In [5]:
data_reviews.text.iloc[2] #some reviews not in english

"Mittlerweile gibt es in Edinburgh zwei Ableger der Motel-One-Kette - diese hier ist eher das schlechtere.\n\nWir hatten auf unserer Schottlandtour die Gelegenheit beide Ableger kennenzulernen, da wir beide Nächte in Edinburgh (am ersten sowie am letzten Tag) in einem der beiden Motel One's verbrachten. Von diesem hier waren wir nach dem überraschend positiven Erlebnis im Motel One an der Princes Street [1] etwas enttäuscht.\n\nDas Hotel ist wesentlich größer und extrem unübersichtlich. Da man auf der fünften Etage noch Teile eines weiteren Gebäude, das mittels einer Glasbrücke mit dem Hauptgebäude verbunden ist, hinzugenommen hat, kann die Suche nach dem Zimmer insbesondere auf dieser Etage zu einem Gang im Labyrinth ausarten. Habe ich so noch in keinem Hotel erlebt - uns begegneten immer wieder Menschen, die sich auf der Suche nach ihren Zimmern verirrt haben.\nUnser Zimmer war ähnlich aufgebaut wie das Zimmer im Motel One Princes Street - befand sich jedoch im Inneren des Gebäudes und hatte daher kein Fenster. Nur eine kleine Dachluke, die sich am oberen Ende eines etwa 3m langen Schachts befand, sorgte für einen minimalen Anteil Tageslicht im Zimmer. diese Luke ließ sich auch nicht öffnen, nur ein elektrisches Rollo ließ sich mittels eines Schalters öffnen bzw. schließen.\nSonst gilt für das Zimmer eigentlich das Gleiche wie für das Zimmer im im Motel One Princes Street: Relativ klein, trotzdem extrem ansprechend und schick gestaltet und clever durchdacht. Dazu sehr ruhig.\n\nIm gesamten Hotel gibt es kostenloses WLAN für die Dauer des Aufenthalts für maximal 3 Geräte.\n\nDie Lage des Motel One Royal Mile ist großartig. Vom Airlink-Flughafenbus kann man quasi in den Hoteleingang stolpern, es sind maximal 50m. Zur Royal Mile sind es etwa 100m Luftlinie (bergauf) und man benötigt etwa 5 Minuten bis dort.\n\nDas Frühstück für 9,50 GBP / Person kann man nutzen - muss man aber nicht. Es ist eher übersichtlich und kontinetaler Prägung, trotzdem aber sehr gut. Für den gleichen Preis oder weniger bekommt man aber problemlos ein reichhaltiges Frühstück in einem der zahlreichen Cafes von Edinburgh.\n\nFür ein oder zwei Nächte kann man hier problemlos bleiben, sollte aber nicht allzuviel erwarten. Hat man die Wahl, sollte man meiner Erfahrung nach lieber auf das andere Motel One an der Princes Street ausweichen. \n\n\n----\n[1] http://www.yelp.de/biz/motel-one-edinburgh-2?hrid=7UDwl3s_DuOokkGPZXZgBw"

In [27]:
data_reviews['sentiment'] = data_reviews['stars'].apply(lambda x: 'negative'if x <3 else ('neutral' if x==3 else 'positive'))
print(data_reviews['text'][(data_reviews['sentiment'] == 'negative')])
data_reviews.head()

16         This place is horrible, we were so excited to ...
21         Decent customer service but the food was awful...
24         The staff here is great and they're nice,  won...
25         I had the garlic ginger broccoli chicken and i...
29         Definitely not a fan. Coming from Orange Count...
31         I wish I could give 1.5 stars. Nothing special...
32         Disappointed that on yelp their hours show the...
35         Typical big business chinese place. Slightly f...
42         If I could give no stars I would. My family pl...
46         I really don't understand how anyone can eat t...
47         Went in for lunch with a coworker today. The s...
49         OH MY GOD, this place. I used to like Pei Wei ...
51         Haven't eaten at this location in particular, ...
60         We went as a family of 6 and was treated very ...
62         We are winter residents and always look forwar...
68         Took the family there last week.  Ordered frie...
72         In Surprise this is probably the best Chinese ...
75         Just dirty ... Sometimes I wonder why we come ...
80         The problem may be that I lived in the Bay Are...
81         First time ever giving a review but felt it wa...
82         The wait time for the food was way too long- 3...
86         Love the food but it's great at all locations....
88         I usually go to pei wei regularly and am usual...
98         Always the same old bad Mexican food. At least...
101        Amazingly good Mexican food but they rip you o...
108        The food isn't bad, but every time I come here...
114        i don't understand all of the high marks for t...
118        This will probably be my last review of this l...
123        Passed this place a few times and finally deci...
130        Very bland. Salsa is like tomato sauce. Enchil...
                                 ...
4736707    I expected so much of this place because I LOV...
4736712    I had high hopes for this spot..however I was ...
4736724    Ordered the Japanese Street Corn (pretty good-...
4736735    Don't come during your lunch hour. My husband ...
4736741    Employees were rude here.  Came in at 5:45 on ...
4736742    Meh. \n\nI was torn between giving this place ...
4736760    This place has so much potential to be a good ...
4736769    Good customer service. Bad-mediocre dishes. No...
4736775    Don't want to give this place a two star, beca...
4736777    Aww man.  I didn't like this place.  BUT, let ...
4736778    How the hell does this place have good reviews...
4736786    Tried this Ramen place by my work today and re...
4736789    Not authentic in taste. Chef needs to\nTaste t...
4736791    Terrible experience ....Downtown Project just ...
4736799    The place has a real hip vibe and plays good m...
4736803    I've been wanting to check this spot out for a...
4736806    Place is cool, clean, and modern.  The crowd i...
4736814    So disappointed. I was going to make Chicken M...
4736818    They are trying to be something they are not a...
4736834    No, this is here to attract trendies to spend ...
4736840    first time we went here there were maybe a few...
4736853    Dinner at 6pm on Friday, no hostess, bartender...
4736862    The appetizers, veggie tempura and garlic chil...
4736864    Food is just ok and the service is terrible! S...
4736865    So excited to try this place out. Apparently, ...
4736866    Lunch in the Dec. of 2015.\nRamen was undercoo...
4736874    If you are downtown this is the only ramen pla...
4736885    There are plenty of good Ramen houses in Vegas...
4736889    Have come here every other week since they ope...
4736894    I'll give this place 2-stars as I'm all for su...
Name: text, Length: 1042245, dtype: object

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,sentiment
0,uYHaNptLzDLoV_JZ_MuzUA,0,2016-07-12,0,VfBHSwC5Vz_pbFluy07i9Q,5,My girlfriend and I stayed here for 3 nights a...,0,cjpdDjZyprfyDG3RlkVG3w,positive
1,uYHaNptLzDLoV_JZ_MuzUA,0,2016-10-02,0,3zRpneRKDsOPq92tq7ybAA,3,If you need an inexpensive place to stay for a...,0,bjTcT8Ty4cJZhEOEo01FGA,neutral
2,uYHaNptLzDLoV_JZ_MuzUA,0,2015-09-17,0,ne5WhI1jUFOcRn-b-gAzHA,3,Mittlerweile gibt es in Edinburgh zwei Ableger...,0,AXgRULmWcME7J6Ix3I--ww,neutral
3,uYHaNptLzDLoV_JZ_MuzUA,0,2016-08-21,0,llmdwOgDReucVoWEry61Lw,4,Location is everything and this hotel has it! ...,0,oU2SSOmsp_A8JYI7Z2JJ5w,positive
4,uYHaNptLzDLoV_JZ_MuzUA,0,2013-11-20,0,DuffS87NaSMDmIfluvT83g,5,gute lage im stadtzentrum. shoppingmeile und s...,0,0xtbPEna2Kei11vsU-U2Mw,positive

In [21]:
print(data_reviews['stars'].value_counts())
data_reviews['stars'].mean() # mean review rating

5    1988003
4    1135830
1     639849
3     570819
2     402396
Name: stars, dtype: int64

3.724048253529684

## BUSINESS DATASET

In [6]:
print(data_business.describe())
print(data_business.info())
data_business.head()

             is_open       latitude      longitude   review_count  \
count  156639.000000  156638.000000  156638.000000  156639.000000
mean        0.844375      38.585033     -92.856485      30.238159
std         0.362501       5.399871      26.557741      96.486631
min         0.000000     -36.086009    -142.466650       3.000000
25%         1.000000      33.627161    -112.138207       4.000000
50%         1.000000      36.142381     -89.523198       9.000000
75%         1.000000      43.596845     -79.668760      23.000000
max         1.000000      89.999314     115.086769    6979.000000

               stars
count  156639.000000
mean        3.647154
std         0.977640
min         1.000000
25%         3.000000
50%         3.500000
75%         4.500000
max         5.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 156639 entries, 0 to 156638
Data columns (total 15 columns):
address         156639 non-null object
attributes      156639 non-null object
business_id     156639 non-null object
categories      156639 non-null object
city            156639 non-null object
hours           156639 non-null object
is_open         156639 non-null int64
latitude        156638 non-null float64
longitude       156638 non-null float64
name            156639 non-null object
neighborhood    156639 non-null object
postal_code     156639 non-null object
review_count    156639 non-null int64
stars           156639 non-null float64
state           156639 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 19.1+ MB
None

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,691 Richmond Rd,"{'RestaurantsPriceRange2': 2, 'BusinessParking...",YDf95gJZaq05wvo7hTQbbQ,"[Shopping, Shopping Centers]",Richmond Heights,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",1,41.541716,-81.493116,Richmond Town Square,,44143,17,2.0,OH
1,2824 Milton Rd,"{'GoodForMeal': {'dessert': False, 'latenight'...",mLwM-h2YhXl2NCgdS84_Bw,"[Food, Soul Food, Convenience Stores, Restaura...",Charlotte,"{'Monday': '10:00-22:00', 'Tuesday': '10:00-22...",0,35.236870,-80.741976,South Florida Style Chicken & Ribs,Eastland,28215,4,4.5,NC
2,337 Danforth Avenue,"{'BusinessParking': {'garage': False, 'street'...",v2WhjAB3PIBA8J8VxG3wEg,"[Food, Coffee & Tea]",Toronto,"{'Monday': '10:00-19:00', 'Tuesday': '10:00-19...",0,43.677126,-79.353285,The Tea Emporium,Riverdale,M4K 1N7,7,4.5,ON
3,"7702 E Doubletree Ranch Rd, Ste 300",{},CVtCbSB1zUcUWg-9TNGTuQ,"[Professional Services, Matchmakers]",Scottsdale,"{'Tuesday': '9:00-17:00', 'Friday': '9:00-17:0...",1,33.565082,-111.916400,TRUmatch,,85258,3,3.0,AZ
4,4719 N 20Th St,"{'GoodForMeal': {'dessert': False, 'latenight'...",duHFBe87uNSXImQmvBh87Q,"[Sandwiches, Restaurants]",Phoenix,{},0,33.505928,-112.038847,Blimpie,,85016,10,4.5,AZ

### Important summary stats
#### Business Rating
* mean rating=3.647154
* std=0.977640
* min rating=1
* max rating=5
    * 25%=3.0
    * 50%=3.5
    * 75%=4.5
        * break up sentiment anaylsis --> below 50% negative, above 50% positive

#### Number of Reviews per Business
* mean rating=30.238159
* std=96.486631   
* min=3.000000 
* max=6979.000000
    * 25%=4.000000   
    * 50%=9.000000   
    * 75%=23.000000

In [7]:
data_business.city.value_counts() #unique locations and counts

Las Vegas                          24768
Phoenix                            15656
Toronto                            15483
Charlotte                           7557
Scottsdale                          7510
Pittsburgh                          5688
Montréal                            5175
Mesa                                5146
Henderson                           4130
Tempe                               3949
Chandler                            3649
Edinburgh                           3625
Cleveland                           2979
Madison                             2891
Glendale                            2841
Gilbert                             2835
Mississauga                         2316
Stuttgart                           1975
Peoria                              1527
Markham                             1390
North Las Vegas                     1254
Champaign                           1084
North York                           944
Surprise                             934
Scarborough                          870
Richmond Hill                        770
Concord                              726
Goodyear                             703
Brampton                             690
Vaughan                              650
                                   ...
Promenade                              1
Inglewood                              1
Scott Township                         1
Bloomfield                             1
Ormstown                               1
nboulder city                          1
Harrisburg,                            1
Warrensvile Heights                    1
Mount Washington                       1
Phoenix, AZ                            1
Sainte-Marguerite-du-Lac-Masson        1
North Olmsted,                         1
Vaughn City                            1
Plieningen                             1
Bradfordwoods                          1
Goodyear AZ                            1
Kirknewton                             1
Saint-Bernard-de-Lacolle               1
N E Las Vegas                          1
Shandwick                              1
Saint-Marc-sur-Richelieu               1
Warrensville Hts.                      1
Regent Square                          1
Rainbow Valley                         1
Montréal-Ouest                         1
Huntingdon                             1
Scarbrough                             1
Newburgh Heights                       1
Bernhausen                             1
Saint-Antoine                          1
Name: city, Length: 1010, dtype: int64

In [8]:
cats = data_business.categories
print(cats.shape)
cats.head(10)

(156639,)

0                         [Shopping, Shopping Centers]
1    [Food, Soul Food, Convenience Stores, Restaura...
2                                 [Food, Coffee & Tea]
3                 [Professional Services, Matchmakers]
4                            [Sandwiches, Restaurants]
5                            [Shopping, Tobacco Shops]
6                    [Chiropractors, Health & Medical]
7    [Automotive, Oil Change Stations, Car Wash, Au...
8    [Jewelry Repair, Gold Buyers, Local Services, ...
9                     [Health & Medical, Optometrists]
Name: categories, dtype: object

Need to figure out which key terms to split by in categories possibly Restaurants

In [9]:
scategories=[cat for cat in cats]
keywords = ['Restaurants','Food','Bars']
ind = set(ind for ind, cat in enumerate(scategories) for word in cat if word in keywords)
len(ind)

67882

In [19]:
restaurant_ids = data_business['business_id'].iloc[list(ind)]
print(len(restaurant_ids))
restaurant_ids.head()

67882

131072    23gakZ_NlN3K0SqOBybwug
1         mLwM-h2YhXl2NCgdS84_Bw
2         v2WhjAB3PIBA8J8VxG3wEg
4         duHFBe87uNSXImQmvBh87Q
131077    JRX7Cugs8NxqdgLS7G5q3Q
Name: business_id, dtype: object

In [22]:
restaurant_df = data_reviews[data_reviews['business_id'].isin(restaurant_ids)]
print(restaurant_df.describe())
print(restaurant_df.info())
restaurant_df.head()

               cool         funny         stars        useful
count  3.306658e+06  3.306658e+06  3.306658e+06  3.306658e+06
mean   5.325368e-01  4.109463e-01  3.709718e+00  9.373561e-01
std    2.022801e+00  1.774972e+00  1.343857e+00  2.665687e+00
min    0.000000e+00  0.000000e+00  1.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  3.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  4.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00  5.000000e+00  1.000000e+00
max    5.130000e+02  6.310000e+02  5.000000e+00  1.125000e+03
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3306658 entries, 16 to 4736896
Data columns (total 9 columns):
business_id    object
cool           int64
date           datetime64[ns]
funny          int64
review_id      object
stars          int64
text           object
useful         int64
user_id        object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 252.3+ MB
None

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
16,jQsNFOzDpxPmOurSWCg1vQ,0,2017-06-03,0,ByRzJ8rF2KJWLr-cUNU6EA,1,"This place is horrible, we were so excited to ...",0,kzyLOqiJvyw_FWFTw2rjiQ
17,jQsNFOzDpxPmOurSWCg1vQ,0,2015-03-26,0,i5UwUPlQFPLcE8p2gPFwBw,4,"For being fairly ""fast"" food.. Pei Wei (pronou...",1,WZXp9-V2dqRRJqhGgRqueA
18,jQsNFOzDpxPmOurSWCg1vQ,1,2012-12-30,1,EyQyvTTg2jX4or9bB8PC9g,5,"I decided to try it out, I'm celiac and theref...",2,XylT12exfdLiI_3uDLVIpw
19,jQsNFOzDpxPmOurSWCg1vQ,1,2009-01-12,1,G-EFA005besj5uHsH0sQFA,3,I'm not saying Pei Wei is the best asian food ...,1,Ji9PeffxjwqPLO7pEfSpKQ
20,jQsNFOzDpxPmOurSWCg1vQ,0,2015-07-11,0,6PcJSGUBSLjt4VLXos5C4A,3,Sometimes the food is spot on and delicious an...,0,TLIWzAJPrET0zX4_vgvLhg

In [ ]:
text, review_rating = [], []
for i in range(restaurant_df.shape[0]):
    text.append(restaurant_df['text'].iloc[i])
    review_rating.append(restaurant_df['stars'].iloc[i])
print(len(text), len(review_rating))
text[1], review_rating[1]

## TIPS DATASET

In [23]:
print(data_tips.describe())
print(data_tips.info())
data_tips.head()

              likes
count  1.028802e+06
mean   1.674472e-02
std    1.469311e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.500000e+01
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1028802 entries, 0 to 1028801
Data columns (total 5 columns):
business_id    1028802 non-null object
date           1028802 non-null datetime64[ns]
likes          1028802 non-null int64
text           1028802 non-null object
user_id        1028802 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 47.1+ MB
None

,business_id,date,likes,text,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,zcTZk7OG8ovAmh_fenH21g
1,jH19V2I9fIslnNhDzPmdkA,2015-08-12,0,Great breakfast large portions and friendly wa...,ZcLKXikTHYOnYt5VYRO5sg
2,dAa0hB2yrnHzVmsCkN4YvQ,2014-06-20,0,Nice place. Great staff. A fixture in the tow...,oaYhjqBbh18ZhU0bpyzSuw
3,dAa0hB2yrnHzVmsCkN4YvQ,2016-10-12,0,Happy hour 5-7 Monday - Friday,ulQ8Nyj7jCUR8M83SUMoRQ
4,ESzO3Av0b1_TzKOiqzbQYQ,2017-01-28,0,"Parking is a premium, keep circling, you will ...",ulQ8Nyj7jCUR8M83SUMoRQ

In [29]:
tips = data_tips.text 
tips.iloc[1]

'Great breakfast large portions and friendly waitress. I highly recommend it'

Tips could be looked at as shorter review like objects?

## USER DATASET

In [30]:
print(data_user.describe())
print(data_user.info())
data_user.head()

       average_stars  compliment_cool  compliment_cute  compliment_funny  \
count   1.183362e+06     1.183362e+06     1.183362e+06      1.183362e+06
mean    3.711835e+00     3.761705e+00     2.551341e-01      3.761705e+00
std     1.105231e+00     9.143469e+01     1.482537e+01      9.143469e+01
min     1.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
25%     3.130000e+00     0.000000e+00     0.000000e+00      0.000000e+00
50%     3.890000e+00     0.000000e+00     0.000000e+00      0.000000e+00
75%     4.570000e+00     0.000000e+00     0.000000e+00      0.000000e+00
max     5.000000e+00     2.959700e+04     1.361600e+04      2.959700e+04

       compliment_hot  compliment_list  compliment_more  compliment_note  \
count    1.183362e+06     1.183362e+06     1.183362e+06     1.183362e+06
mean     2.749478e+00     1.122869e-01     4.098577e-01     1.798434e+00
std      7.917064e+01     1.272235e+01     1.556566e+01     6.027984e+01
min      0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00
25%      0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00
50%      0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00
75%      0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00
max      2.417100e+04     1.262000e+04     1.342800e+04     5.311300e+04

       compliment_photos  compliment_plain  compliment_profile  \
count       1.183362e+06      1.183362e+06        1.183362e+06
mean        1.226320e+00      3.782211e+00        2.686143e-01
std         1.029377e+02      9.611115e+01        1.856448e+01
min         0.000000e+00      0.000000e+00        0.000000e+00
25%         0.000000e+00      0.000000e+00        0.000000e+00
50%         0.000000e+00      0.000000e+00        0.000000e+00
75%         0.000000e+00      0.000000e+00        0.000000e+00
max         8.253300e+04      3.820200e+04        1.407800e+04

       compliment_writer          cool          fans         funny  \
count       1.183362e+06  1.183362e+06  1.183362e+06  1.183362e+06
mean        1.435129e+00  2.032226e+01  1.504011e+00  1.525667e+01
std         3.518830e+01  6.681383e+02  1.409425e+01  4.907659e+02
min         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%         0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
max         1.535800e+04  2.010620e+05  6.087000e+03  1.926630e+05

       review_count        useful
count  1.183362e+06  1.183362e+06
mean   2.372686e+01  3.029497e+01
std    8.050645e+01  7.058452e+02
min    0.000000e+00  0.000000e+00
25%    2.000000e+00  0.000000e+00
50%    5.000000e+00  0.000000e+00
75%    1.600000e+01  3.000000e+00
max    1.165600e+04  2.028670e+05
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1183362 entries, 0 to 1183361
Data columns (total 22 columns):
average_stars         1183362 non-null float64
compliment_cool       1183362 non-null int64
compliment_cute       1183362 non-null int64
compliment_funny      1183362 non-null int64
compliment_hot        1183362 non-null int64
compliment_list       1183362 non-null int64
compliment_more       1183362 non-null int64
compliment_note       1183362 non-null int64
compliment_photos     1183362 non-null int64
compliment_plain      1183362 non-null int64
compliment_profile    1183362 non-null int64
compliment_writer     1183362 non-null int64
cool                  1183362 non-null int64
elite                 1183362 non-null object
fans                  1183362 non-null int64
friends               1183362 non-null object
funny                 1183362 non-null int64
name                  1183362 non-null object
review_count          1183362 non-null int64
useful                1183362 non-null int64
user_id               1183362 non-null object
yelping_since         1183362 non-null object
dtypes: float64(1), int64(16), object(5)
memory usage: 207.7+ MB
None

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,3.80,5174,284,5174,5175,78,299,1435,7829,7397,...,16856,"[2014, 2016, 2013, 2011, 2012, 2015, 2010, 2017]",209,"[M19NwFwAXKRZzt8koF11hQ, QRcMZ8pJJBBZaKubHOoMD...",16605,Cin,272,17019,lsSiIjAKVl-QRxKjRErBeg,2010-07-13
1,3.94,1556,211,1556,1285,101,134,1295,162,2134,...,40110,"[2014, 2017, 2011, 2012, 2015, 2009, 2013, 200...",835,"[eoSSJzdprj3jxXyi94vDXg, QF0urZa-0bxga17ZeY-9l...",10882,Andrea,2559,83681,om5ZiponkpRqUNa3pVPiRg,2006-01-18
2,4.72,15,1,15,5,0,1,11,8,20,...,55,[],17,"[Oa84FFGBw1axX8O6uDkmqg, SRcWERSl4rhm-Bz9zN_J8...",4,Gabe,277,45,-lGwMGHMC_XihFJNKCJNRg,2014-10-31
3,3.76,9,0,9,1,0,1,4,1,11,...,4,"[2016, 2017]",11,"[96DJovjKAtExnyBZRfniPQ, Djczq-bRn761U4FW77NUt...",4,Leah,436,15,D-ydMTPGWXTVm4_jjp0k9g,2013-04-01
4,4.23,276,0,276,59,0,8,51,169,386,...,6006,"[2017, 2016]",49,"[iN0A6QIrEFYoSGHFaknh8Q, B2HDoWNIzLlon0IhS1cmD...",360,Juan,921,9152,PcvbBOCOcs6_suRDH7TSTg,2012-08-16

## Shower Thoughts on User Dataset
* looks like users get a rating also --> higher rating could mean more reliable
* Does elite mean trustworthy or just someone that does a lot or reviews?
    * FROM YELP WEBSITE:
        * "What does it take to be Elite? Elite-worthiness is based on well-written reviews, high quality photos, an active voting and complimenting record, and a history of playing well with others."
        * You have to apply to be Elite
* useful count maybe an indicator of real review vs. fake/spam review.

In [ ]:
print(data_checkin.describe())
print(data_checkin.info())
data_checkin.head()

In [ ]:
sort_reviews_by_business = data_reviews[['business_id','text']].groupby('business_id').count().sort_values('text', ascending=False)
num_reviews_per_business = [['name','review_count','stars']].sort_values('review_count', ascending=False)
num_reviews_per_w_bus_id = data_business[['name', 'business_id' ,'review_count','stars']].sort_values('review_count', ascending=False)